<launch>
    <include file="$(find gazebo_simulation)/launch/start_gazebo.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_simulation)/cfg/viz.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 odom map 100" />

    <node name="p_controller" pkg="robotics_day" type="p_controller.py" />
    <node name="marker_pub_node" pkg="gazebo_simulation" type="marker_pub_node" />
</launch>